<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveMall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E003D1B22BB711C00D20E32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E003D3322BB711E00D20E32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E003D3E22BB711E00D20E32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
